<%= render partial: "shared/header" %>
<br>
<%= link_to "Create New Discount", new_merchant_bulk_discount_path(@merchant) %>

<div id="discounts">
  <% @discounts.each do |discount| %>
    <div id="discount-<%= discount.id %>">
        <p>
            Buy <%= discount.threshold %>
            units, get a
            <%= discount.percentage %>% discount.
            <%= link_to "View Discount", merchant_bulk_discount_path(@discounts, discount) %>
        </p>
    </div>
  <% end %>
</div>
