<%#= render partial: "shared/header" %>
<br>
<%= link_to "Create New Discount", new_merchant_bulk_discount_path(@merchant) %>

<div id="discounts">
  <% @discounts.each do |discount| %>
    <div id="discount-<%= discount.id %>">
        <p>
            Buy <%= discount.threshold %>
            units, get a
            <%= discount.percentage %>% discount.
            <%= link_to "View Discount", merchant_bulk_discount_path(@merchant, discount) %>
            <%= link_to "Delete Discount", merchant_bulk_discount_path(@merchant, discount), method: :delete %>
        </p>
    </div>
  <% end %>
</div>

<h3>Upcoming Holidays</h3>

<br>

<% @holidays.next_three_holidays.each do |holiday| %>
    <h4>Name: </h4><%= holiday.name %>
    <h4>Date: </h4><%= holiday.date %>
<% end %>
