<%= render partial: "shared/header" %>

<h5>
  My 5 Fave Customers
</h5>
<% @merchant.fave_customers.each do |customer| %>
  <div id="id-<%= customer.id %>">
    <li>
      <%= customer.first_name %>
      <%= customer.last_name %>
      <%= customer.transaction_total %></li>
  <% end %>
</div>