<h1 id="name"><%= @merchant.name %></h1>

<p><%= link_to "My Items", merchant_items_path(@merchant.id) %></p>
<p><%= link_to "My Invoices", merchant_invoices_path(@merchant.id) %></p>

<h5> My 5 Fave Customers </h5>
<% @merchant.fave_customers.each do |customer| %>
  <div id="id-<%= customer.id %>">
    <li> <%= customer.first_name %> <%= customer.last_name %>
              <%= customer.transaction_total %></li>
    <% end %>
    </div>

<h5> Items Ready to Ship </h5>
<% @merchant.unshipped_items.each do |item| %>
  <div id="id-<%= item.id %>">
    <li> <%= item.name %> <%= link_to item.id merchant_invoice_path %>
    <% end %>
    </div>
