<%= render partial: "shared/admin_header" %>

<h1 id="invoice-header-<%=@invoice.id%>"> Invoice #<%= @invoice.id %></h1>

<div id ="invoice-<%=@invoice.id%>">Status: <%= @invoice.status %><br>
  Created on: <%= @invoice.created_at.strftime('%A, %B %m, %Y') %><br>
  Customer:<br>
  <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name%><br>
</div>

<h2>Items on this Invoice:</h2><br>
<% @invoice.invoice_items.each do |invoice_item| %>
  <div id="invoice-items-<%=invoice_item.id%>">
    Item Name:
    <%= invoice_item.item.name %><br>
    Item Quantity:
    <%= invoice_item.quantity %><br>
    Item Price:
    <%= invoice_item.item.unit_price %><br>
    Invoice Item Status:
    <%= invoice_item.status %><br>
    Total Revenue: $<%= @invoice.total_revenue %><br>
  </div>
<% end %>
