<h1><%= link_to @repo_info.name, @repo_info.url %></h1>
Total Pull Requests:<%= @pull_requests %><br>

<div class="row">
  <% @contributors.each do |contributor| %>
    <div class="col-md-4">
      <div class="thumbnail">

        <img src="<%= contributor.avatar_url %>" alt="Lights" style="width:50%">
        <div class="caption">
          <a href="https://github.com/<%= contributor.user_name %>">
            <p><%= contributor.user_name %></p>
          </a>
          <p>Commits:
            <%= contributor.commits %></p>
        </div>

      </div>
    </div>
  <%end %>
</div>