<%= render partial: "shared/admin_header" %>
<hr>
<%= link_to "Create New Merchant", new_admin_merchant_path %>
<hr>
<div class="row">

  <div class="col-sm-7">
    <div id="enabled">
      <strong>Enabled Merchants</strong>
      <% @merchants.each do |merchant| %>
        <% if merchant.status == "Enabled" %>
          <div class="row" id="enabled-<%= merchant.id %>">
            <div class="col-sm-4">
              <%= link_to merchant.name, admin_merchant_path(merchant) %>
            </div>
            <div class="col-sm-4">
              <%= button_to 'Disable', admin_merchant_path(merchant), method: :patch, params: { merchant: {status: "Disabled"} } %>
            </div>
          </div>
        <%end%>
      <%end%>
    </div>

    <div id="disabled">
      <strong>Disabled Merchants</strong>
      <% @merchants.each do |merchant| %>
        <% if merchant.status == "Disabled" %>
          <div class="row" id="disabled-<%= merchant.id %>">
            <div class="col-sm-4">
              <%= link_to merchant.name, admin_merchant_path(merchant) %>
            </div>
            <div class="col-sm-4">
              <%= button_to 'Enable', admin_merchant_path(merchant), method: :patch, params: { merchant: {status: "Enabled"} } %>
            </div>
          </div>
        <%end%>
      <%end%>
    </div>
  </div>

  <div id="top_five_merchants" class="col-sm-4">
    <h3>Top Merchants</h3>
    <% @merchants.top_five_merchants.each_with_index do |merchant, index| %>
      <p><%= index+1 %>.<%= link_to merchant.name, admin_merchant_path(merchant)%>
        - $<%= merchant.total_revenue %>
        in sales</p>
      <p id='top_day-<%= merchant.id %>'>Top day for
        <%= merchant.name %>
        was
        <%= merchant.best_day.created_at.strftime("%m/%d/%y") %></p>
    <% end %>
  </div>

</div>