<%= render partial: "shared/header" %>

<h2>Create an Item</h2>
<%= form_with url: merchant_items_path(@merchant.id), method: :post, local: true do |form| %>
<%= form.label :name, "Item Name" %><br/>
<%= form.text_field :name %><br/>
<%= form.label :description, "Item Description" %><br/>
<%= form.text_field :description %><br/>
<%= form.label :unit_price, "Current Price" %><br/>
<%= form.text_field :unit_price %><br/>
<%= form.submit 'Submit' %>
<% end %>