<%= render partial: "shared/header" %>
<hr>
<h3 class="d-flex justify-content-center"><%= @item.name %></h3>
<p>Description:
  <%= @item.description %></p>
<p>Current Price: $<%= @item.unit_price_to_dollars %></p>
<%= link_to "Update Item Info", edit_merchant_item_path(@item.merchant_id, @item.id) %>